body {
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* coloca a cor do titulo*/

#titulo {
    color: #fff;
    padding-top: 2%;
    padding-bottom: 5%;
}

.cor_mensagem{
    color: red;
}


fieldset {

    border: 2px solid #999;
    /* controla a distancia entre os elementos e a borda */
    width:inherit;
    padding: 15px;
    /* margem para alinhar o fieldset com o restante do grid */
  }
